.hero {
  position: relative;
  height: 45rem;
  display: flex;
  justify-content: center;
  background-position: center;
  text-align: center;
}

.heroContent {
  padding-top: 2rem; /* Adjusted base padding-top */
  text-align: center;
  max-width: 1200px;
  width: 80%;

}

.hero h1 {
  font-size: 1.8rem; /* Base style for smallest screens */
  font-weight: 900;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.subtitle {
  font-size: 1rem; /* Base style for smallest screens */
  font-weight: 400;
  margin-bottom: 1rem;
}

.description {
  font-size: 0.9rem; /* Base style for smallest screens */
  margin-bottom: 2rem;
}

.emailSignup {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  gap: 0.5rem;
  position: relative; /* Needed for error message positioning */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.inputContainer {
  display: flex;
  flex-direction: column; /* Stack input and error message */
  flex-grow: 1; /* Allow the container to grow */
  position: relative;
}

.emailInput {
  width: 100%;
  min-width: 300px; /* Minimum width before wrapping */
  padding: 1.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  background-color: rgba(22, 22, 22, 0.7);
  color: white;
}

.label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: #8c8c8c;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.emailInput:focus + .label,
.emailInput:not(:placeholder-shown) + .label {
  top: 0.5rem;
  transform: translateY(0);
  font-size: 0.75rem;
}

.inputError {
  border-color: #e87c03; /* Netflix orange for errors */
  border-bottom: 2px solid #e87c03;
}

.inputSuccess {
  border-color: #008000; /* Green for success */
  border-bottom: 2px solid #008000;
}

.errorMessage {
  color: #e87c03; /* Match error border color */
  font-size: 0.9rem;
  text-align: left; /* Explicitly align text to the left */
  padding-top: 0.5rem;
}

.ctaButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}


.ctaButton:hover {
  background: #cf0812;
}


@media (min-width: 600px){
  .hero h1{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
  }
  .subtitle {
    font-size: 1.2rem;
  }
  .description {
    font-size: 1rem;
  }
  .heroContent {
    padding-top: 5rem;
  }
}

@media (min-width: 960px){
  .hero h1{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1.2rem;
  }
  .heroContent {
    padding-top: 10rem;
  }
}

@media (min-width: 1280px){
  .hero h1{
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 900;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1.2rem;
  }
  .heroContent {
    padding-top: 12rem;
  }
}