.hero {
  position: relative;
  height: 45rem;
  display: flex;
  /* padding-top: 10%; */ /* Removed this line */
  justify-content: center;
  background-position: center;
  text-align: center;
}

.heroContent {
  padding-top: 10rem;
  text-align: center;
  max-width: 80%;
}

.hero h1 {
  font-size: 3.6rem;
  font-weight: 900;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.emailSignup {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  gap: 0.5rem;
  position: relative; /* Needed for error message positioning */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.inputContainer {
  display: flex;
  flex-direction: column; /* Stack input and error message */
  flex-grow: 1; /* Allow the container to grow */
}

.emailInput {
  width: 100%;
  min-width: 300px; /* Minimum width before wrapping */
  padding: 1.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  background-color: rgba(22, 22, 22, 0.7);
  color: white;
}

.inputError {
  border-color: #e87c03; /* Netflix orange for errors */
  border-bottom: 2px solid #e87c03;
}

.errorMessage {
  color: #e87c03; /* Match error border color */
  font-size: 0.9rem;
  text-align: left; /* Explicitly align text to the left */
  padding-top: 0.5rem;
}

.ctaButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}


.ctaButton:hover {
  background: #cf0812;
}