.hero {
  position: relative;
  height: 45rem;
  display: flex;
  /* padding-top: 10%; */ /* Removed this line */
  justify-content: center;
  background-position: center;
  text-align: center;
}

.heroContent {
  padding-top: 10rem;
  text-align: center;
  max-width: 80%;
}

.hero h1 {
  font-size: 3.6rem;
  font-weight: 900;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.emailSignup {
  gap: 1rem;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  align-items: stretch;
}

.emailInput {
  flex: 1;
  padding: 1.5rem 16px;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 4px;
  background: rgba(22, 22, 22, 0.7);
  color: #fff;
  outline: none;
}

.emailInput::placeholder {
  color: #8c8c8c;
}

.ctaButton {
  border-radius: 4px;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  background: #f40612;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  white-space: nowrap;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.ctaButton:hover {
  background: #cf0812;
}